h1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
  font-size: 30px;
}
h2 {
  padding: 6px;
  line-height: 36px;
  font-size: 22px;
  border-left: solid 7px #ffaf58;
}